<h3> Registration form</h3>

<form action="" method="post" class="forms">
  <input type="text" class="form-control" name="login" placeholder="Login"><br>
  <input type="text" class="form-control" name="first_name" placeholder="First Name"><br>
  <input type="text" class="form-control" name="second_name" placeholder="Second Name"><br>
  <input type="password" class="form-control" name="password" placeholder="Password"><br>
  <input type="text" class="form-control" name="email" placeholder="Email"><br>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Send</button>

</form>
